.header{
    display: flex;
    justify-content: space-between;
}
#nav-tab{
    display: flex;
    margin:auto;
    bs-border-width: none;
}
.card{
    margin: auto;
    width: 700px;
}
.card-title{
    display:flex;
    justify-content: space-between;
    margin: 10px;
}
.card-img-top{
    width: 100%;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.image{
    padding: 7px;
}